In [1]:
import pandas as pd

In [5]:
data_cols = ['App', 'Category']
data = pd.read_csv('googleplaystore.csv', names=data_cols, usecols=[0, 1])
data.head()
#separated app and category columns

                                              App        Category
0                                             App        Category
1  Photo Editor & Candy Camera & Grid & ScrapBook  ART_AND_DESIGN
2                             Coloring book moana  ART_AND_DESIGN
3         U Launcher Lite – FREE Live Cool Themes       Hide Apps
4                           Sketch - Draw & Paint  ART_AND_DESIGN

In [6]:
data.shape

(10842, 2)

In [12]:
rating_cols = ['App', 'Rating', 'Reviews']
ratings = pd.read_csv('googleplaystore.csv', names=rating_cols, usecols=[0,1,2])
ratings.head()
#separated app, rating, reviews columns

,App,Rating,Reviews
0,App,Category,Rating
1,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1
2,Coloring book moana,ART_AND_DESIGN,3.9
3,U Launcher Lite – FREE Live Cool Themes,Hide Apps,ART_AND_DESIGN
4,Sketch - Draw & Paint,ART_AND_DESIGN,4.5

In [9]:
data.columns

Index(['App', 'Category'], dtype='object')

In [10]:
ratings.columns

Index(['App', 'Rating', 'Reviews'], dtype='object')

In [25]:
df3 = pd.merge(data, ratings, how="outer", on="App")
df3
#merged both separated data sets

,App,Category,Rating,Reviews
0,App,Category,Category,Rating
1,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,ART_AND_DESIGN,4.1
2,Coloring book moana,ART_AND_DESIGN,ART_AND_DESIGN,3.9
3,Coloring book moana,ART_AND_DESIGN,FAMILY,3.9
4,Coloring book moana,FAMILY,ART_AND_DESIGN,3.9
...,...,...,...,...
14475,Sya9a Maroc - FR,FAMILY,FAMILY,4.5
14476,Fr. Mike Schmitz Audio Teachings,FAMILY,FAMILY,5
14477,Parkinson Exercices FR,MEDICAL,MEDICAL,NaN
14478,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,BOOKS_AND_REFERENCE,4.5
14479,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,LIFESTYLE,4.5